#container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#headerimage{
    height: 450px;
    width: 100%;
}

h1{
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 80px;
    position: absolute;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

#mainimage{
    height: 450px;
    width: 100%;
}

#barra{
    margin-top: 5px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.mains{
    text-decoration: none;
    text-align: center;
    padding: 2%;
    border: 2px black solid;
    background-color: white;
    color: black;
    font-size: 20px;
    width: 10%;
    overflow-wrap: break-word;
}

#map{
    margin-top: 5px;
    width: 100%;
}

#mapimage{
    height: 465px;
    width: 300px;
    position: absolute;
    width: 20%;
    margin-left: 78.7%;
    margin-top: 9px;
}

span{
    position: absolute;
    margin-left: 78.7%;
    border: 2px black solid;
    width: 20%;
    text-align: center;
    margin-top: 477px;
}

#TextOne{
    width: 78%;
    height: 20%;
}

#iglesia{
    margin-top: 10px;
    margin-left: 60%;
    position: absolute;
    height: 220px;
    width: 16%;
}

#piglesia{
    margin-top: 5%;
    margin-left: 10px;
    width: 75%;
}

#TextTwo{
    margin-top: 15px;
    width: 78%;
    height: 20%;
}

#monumento{
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    height: 220px;
    width: 16%;
}

#pmonumento{
    margin-top: 45px;
    margin-left: 25%;
    width: 75%;
}

hr{
    padding: 0px;
    margin-top: 8%;
    width: 100%;
}

h2{
    padding: 0%;
    text-align: center;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#patrimoniocontainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 480px;
}

#PatrimonioOne{
    position: relative;
    width: 25%;
}

h4{
    padding: 2px;
    border: 1px black solid;
    background-color: black;
    text-align: center;
    padding: 0%;
    font-size: 20px;
    color: white;
    overflow-wrap: break-word;
}

#anaco{
    width: 100%;
    height: 400px;
}

#PatrimonioTwo{
    position: relative;
    width: 25%;
}

#catedral{
    width: 100%;
    height: 400px;
}

#PatrimonioThree{
    position: relative;
    width: 25%;
}

#museo{
    width: 100%;
    height: 400px;
}

#endpage{
    display: flex;
    margin-top: 20px;
    background-color: brown;
    width: 100%;
    height: 300px
}

#questions{
    width: 60%;
}

#videodiv{
    position: absolute;
    width: 30%;
    margin-left: 40%;
}

h3{
    width: 500px;
    position: absolute;
    margin-left: 18%;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#answers{
    position: absolute;
    margin-top: 60px;
    padding: 5px;
    width: 60%;
}

#divnombres{
    padding-top: 10px;
    padding-bottom: 10px;
}

#nombres{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#name{
    padding: 5px;
    width: 60%;
}

#email{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 18px;
}

#mail{
    padding: 5px;
    width: 60%;
}

#divpregunta{
    position: absolute;
    margin-top: 7px;
}
#pregunta{
    color: white;
    position: absolute;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#msg{
    margin-top: 5px;
    margin-left: 205px;
    width: 100%;
    height: 80px;
}

h6{
    color: white;
    margin-top: 270px;
    position: absolute;
    margin-left: 10px;
    font-size: 15px;
}

#video{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70%;
}


