*{
    width: 99%;
    background-color: black;
}

#all{
    width: 97%;
    height: auto;
    margin: 0 1% 0 1%;
}

#header{
    display: flex;
    width: 100%;
    height: 600px;
}

#leftheader{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 0% 2.5% 0% 2.5%;
}

#icon{
    width: 100%;
    height: 250px;
    margin: 0 3.8% 0 3.8%; 
}

#iconimage{
    width: 100%;
    height: 100%;
}

#navlist{
    margin-top: 5%;
    margin-bottom: 5%;
}

a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 2px solid white;
    padding: 3%;
    margin: 2% 0 2% 0;
}

#headerimg{
    width: 100%;
    height: auto;
}

#europeimg{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px #999;
}

hr{
    width: 100%;
}

h1{
    color: white;
    text-decoration-line: underline;
    text-align: center;
    margin-top: 1%;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#content{
    width: 100%;
}

#upcontent{
    display: flex;
    flex-direction: row;
    height: auto;
}

#ucrania{
    width: 30%;
    height: 220px;
}

#ucraniaflag{
    margin-top: 3%;
    width: 100%;
    height: 220px;
}

#ucraniatextone{
    width: 70%;
    height: auto;
}

#ucraniatextone p{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 1% 0 1%;
    text-align: justify;
}

p{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    width: 100%;
}

hr{
    width: 100%;
}

h2{
    color: white;
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

#midcontentup{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

h3{
    color: white;
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contentbox{
    width: 32%;
    height: 480px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.midtext{
    width: 98%;
    margin: auto;
    height: 150px;
}

.midtext p{
    color: white;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    margin: 0% 1% 0% 1%;
    width: 98%;
}

.midimg{
    width: 98%;
    margin: auto;
}

.img{
    width: 100%;
    align-items: center;
    height: 250px;
}


#midcontentdown{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

#contentdown{
    width: 100%;
}

#down{
    width: 100%;
    display: flex;
    flex-direction: column;
}

h4{
    color: white;
    text-align: initial;
    margin-top: 5%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boxcontent{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgdown{
    width: 30%;
    height: 150px;
}

.imgd{
    width: 100%;
    height: 200px;
}

.textdown{
    width: 65%;
    height: 200px;
}

.textdown p{
    width: 100%;
    text-align: justify;
}

h5{
    color: white;
    text-align: center;
    margin-top: 5%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#videocontent{
    width: 100%;
}

.last{
    width: 100%;
}

#lastimg{
    width: 96%;
    margin: auto;
}

.lastpart{
    width: 96%;
    height: 500px;
    
}

.lastp{
    width: 98%;
    margin: auto;
}

.lastp p{
    text-align: justify;
}

#notices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notice{
    width: 32%;
}

/* FOOTER */
#footerdiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h6{
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#left{
    text-align: initial;
    width: 30%;
}

#right{
    text-align: end;
    width: 70%;
}

.button{
    width: 5%;
    height: auto;
    border: none;
}

.button img{
    height: 45px;
}